name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  ZIG_VERSION: 0.15.2

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
          mirror: 'https://zigmirror.com'
      - run: zig fmt --check .

  run_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
          mirror: 'https://zigmirror.com'
      - run: zig build test

  build_examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
          mirror: 'https://zigmirror.com'
      - run: zig build examples
 
  # Execute bencharmks only if the PR has a specific label 'run::benchmarks'
  benchmarks:
    if: contains(github.event.pull_request.labels.*.name, 'run::benchmarks')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
          mirror: 'https://zigmirror.com'
      # The optimize argument builds the SDK library with optimizations,
      # benchmarks files are always compiled with ReleaseFast.
      - run: |
          zig build benchmarks -Doptimize=ReleaseFast -Dbenchmark-output=benchmarks-result.txt
      - uses: actions/upload-artifact@v4
        with:
          name: benchmarks-result
          path: benchmarks-result.txt
          retention-days: 60
